.forgot_page .title-forget,.reset_pw .title-forget{margin: 20px 0 60px 0;}
.forgot_page .btn,.reset_pw .btn{margin-left: 10px;}
.forgot_page .box-wapper-show-image,.reset_pw .box-wapper-show-image{min-height: 700px;}