.wysihtml5-editor{background-color:  rgb(247, 247, 247) !important; border: none; max-width: 100%;}

.wysihtml5-editor img{max-width: 100%;}
.wysihtml5-editor audio {width: 100%}
.wysihtml5-editor video {width: 100%;}